.button{
    background-color: #d1b48c;
    width: 100%;
    height: 40px;
    border: none;
    margin-bottom: 5px;
    border-radius: 15px;
    color: #415d58;
    font-weight: bolder;
    font-size: 20px;

}
.external{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}